# macOS
.DS_Store

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Node
node_modules/
npm-debug.log
yarn-error.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
